name: Testing with Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest and generate report
        run: |
          python -m pytest -q --junitxml=pytest-report.xml

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: pytest-report.xml
